.final-container {  display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "final-image final-character final-character final-abilities"
      "final-image final-stuff final-stuff final-stuff";
  }
  
  .final-image { grid-area: final-image; }

  .final-image img {
    margin: 20px;
    max-height: 450px ;
  }
  
  .final-character { grid-area: final-character; }
  
  .final-abilities { grid-area: final-abilities; }
  
  .final-stuff {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "final-weapons final-gears"
      "final-armors final-gears"
      "final-spells final-spells";
    grid-area: final-stuff;
  }
  
  .final-weapons { grid-area: final-weapons; }
  
  .final-armors { grid-area: final-armors; }
  
  .final-gears { grid-area: final-gears; }
  
  .final-spells { grid-area: final-spells; }
  